<!-- Polymer -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<!-- Iron components -->
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<!-- Paper components -->
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<!-- Other components -->
<link rel="import" href="../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<!-- JS Libraries -->
<link rel="import" href="./event-emitter.html">

<dom-module id="mp-ide">
    <template>
        <style>
            :host {
                display: block;
                background: #1e1e1e;
            }
            .header {
                width: 100%;
                height: 60px;
                background: rgba(0, 0, 0, 0.2);
            }
            .editor {
                width: 100%;
                height: calc(100vh - 160px);
            }
            .console {
                width: 100%;
                height: 100px;
                color: white;
                background: black;
                overflow-y: scroll;
            }
            .header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            .header paper-fab {
                display: inline-block;
                margin: 0 5px;
                --paper-fab-background: var(--google-yellow-500);
            }
            .header .separator {
                width: 15px;
                height: 100%;
            }
            #fileToUpload {
                color: white;
            }
            paper-spinner, paper-spinner-lite {
                margin: 5px;
                 --paper-spinner-stroke-width: 6px;
                 --paper-spinner-color: var(--google-yellow-500);
            }
        </style>
        <div class="header">
            <template is="dom-if" if="[[!connected]]">
                <paper-fab
                    on-tap="connect"
                    icon="hardware:developer-board"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="loadAvailableDevices"
                    icon="icons:refresh"
                    mini>
                </paper-fab>
                <select id="serialPorts">
                    <template is="dom-repeat" items="[[availableDevices]]">
                        <option value="[[item.comName]]">[[item.comName]]</option>
                    </template>
                </select>
            </template>
            <template is="dom-if" if="[[connected]]">
                <paper-fab
                    on-tap="disconnect"
                    icon="hardware:developer-board"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="run"
                    icon="av:play-arrow"
                    disabled="[[running]]"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="stop"
                    icon="av:stop"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="reset"
                    icon="av:replay"
                    mini>
                </paper-fab>
                <div class="separator"></div>
                <paper-fab
                    on-tap="listFiles"
                    icon="icons:folder"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="openSaveDialog"
                    icon="icons:file-upload"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="openLoadDialog"
                    icon="icons:file-download"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="openRemoveDialog"
                    icon="icons:delete-forever"
                    mini>
                </paper-fab>
            </template>
            <template is="dom-if" if="[[connecting]]">
                <paper-spinner-lite active="[[connecting]]"></paper-spinner-lite>
            </template>
        </div>
        <juicy-ace-editor
            id="code"
            class="editor"
            fontsize="13"
            mode="ace/mode/python"
            theme="ace/theme/clouds"
            on-change="autosaveCode"
            value="[[code]]">
        </juicy-ace-editor>
        <div id="console" class="console"><code><pre>[[consoleOut]]</pre></code></div>
        <paper-dialog id="saveDialog" modal>
            <h2>Save as</h2>
            <paper-input id="saveFilename" always-float-label label="File name"></paper-input>
            <div class="buttons">
                <paper-button autofocus dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="saveFile">OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="loadDialog" modal>
            <h2>Load file</h2>
            <paper-input id="loadFilename" always-float-label label="File name"></paper-input>
            <div class="buttons">
                <paper-button autofocus dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="loadFile">OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="removeDialog" modal>
            <h2>Remove file</h2>
            <paper-input id="removeFilename" always-float-label label="File name"></paper-input>
            <div class="buttons">
                <paper-button autofocus dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="removeFile">OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        class MicroPythonIDE extends Polymer.Element {
            static get is() {
              return 'mp-ide';
            }
            static get properties() {
                return {
                    /**
                    * All available serial ports
                    */
                    availablePorts: {
                        type: Array,
                        value: () => []
                    },
                    /**
                    * All serial ports that pass the filter `computeAvailableDevices`
                    */
                    availableDevices: {
                        type: Array,
                        computed: 'computeAvailableDevices(availablePorts.*)'
                    },
                    /**
                    * Communication channel between front end and platform
                    * specific process
                    */
                    bus: {
                        type: Object,
                        value: null
                    },
                    /**
                    * String with code on the editor
                    */
                    code: {
                        type: String,
                        value: null
                    },
                    /**
                    * Flag if app is trying to connect to a board
                    */
                    connecting: {
                        type: Boolean,
                        value: false
                    },
                    /**
                    * Flag if app is connected to a board
                    */
                    connected: {
                        type: Boolean,
                        value: false
                    },
                    /**
                    * Flag if app is running code
                    */
                    running: {
                        type: Boolean,
                        value: false
                    },
                    /**
                    * Flag if board is in raw REPL mode
                    */
                    rawRepl: {
                        type: Boolean,
                        value: false
                    },
                    /**
                    * Console output
                    */
                    consoleOut: {
                        type: String,
                        value: ''
                    },
                    /**
                    * Auto save timeout id
                    */
                    autosaveTimeout: {
                        type: Number,
                        value: 0
                    }
                }
            }
            connectedCallback() {
                super.connectedCallback()
                if (window.bus) {
                    this.set('bus', window.bus)
                } else {
                    this.set('bus', new window.MicroPythonIDE.EventEmitter())
                }
                this.bindEvents()
                this.loadAvailableDevices()
                this.loadCodeFromLocalStorage()
            }
            bindEvents() {
                this.bus.on('connected', () => {
                    this.set('connecting', false)
                    this.set('connected', true)
                })
                this.bus.on('disconnected', () => {
                    this.set('connecting', false)
                    this.set('connected', false)
                })
                this.bus.on('output', (data) => {
                    this.output(data)
                })
                this.bus.on('available-ports', (availablePorts) => {
                    this.set('availablePorts', availablePorts)
                })
                this.bus.on('load-code', (code) => {
                    this.set('code', code)
                })
                this.bus.on('raw-repl-started', () => {
                    this.set('rawRepl', true)
                    this.set('running', true)
                })
                this.bus.on('raw-repl-finished', () => {
                    this.set('rawRepl', false)
                    this.set('running', false)
                })
            }
            output(msg) {
                this.consoleOut = `${this.consoleOut}${msg}`
                this.consoleOut = `${this.consoleOut.slice(-2000)}`
                this.$.console.scrollTop = this.$.console.scrollHeight
            }
            computeAvailableDevices(ports) {
                if (!ports || !ports.base) {
                    return
                }
                return ports.base.filter((port) => {
                    return !!port.vendorId
                })
            }
            getEditor() {
                return this.$.code || {}
            }
            loadCodeFromLocalStorage() {
                const code = localStorage.getItem('code')
                this.set('code', code)
            }
            autosaveCode() {
                const code = this.getEditor().value
                if (code && this.code != code) {
                    clearTimeout(this.autosaveTimeout)
                    this.autosaveTimeout = setTimeout(() => {
                        localStorage.setItem('code', code)
                    }, 2000)
                }
                this.set('code', code)
            }
            connect() {
                this.set('connecting', true)
                const select = Polymer.dom(this.root).querySelector('#serialPorts')
                if (select && select.value) {
                    this.bus.emit('connect', select.value)
                }
            }
            disconnect() {
                this.bus.emit('disconnect')
            }
            loadAvailableDevices() {
                this.bus.emit('load-available-devices')
            }
            run() {
                this.bus.emit('exec-from-string', this.code)
            }
            stop() {
                if (this.running) {

                } else {

                }
                this.bus.emit('send-stop')
            }
            reset() {
                this.bus.emit('send-stop')
                this.bus.emit('send-reset')
            }
            listFiles() {
                const code = `
from os import listdir
print(listdir())
`
                this.bus.emit('exec-from-string', code)
            }
            openSaveDialog() {
                this.$.saveDialog.open()
            }
            openLoadDialog() {
                this.$.loadDialog.open()
            }
            openRemoveDialog() {
                this.$.removeDialog.open()
            }
            saveFile() {
                const filename = this.$.saveFilename.value
                if (filename && this.code) {
                    this._saveFile(this.$.saveFilename.value, this.code)
                    this.$.saveDialog.close()
                }
            }
            _saveFile(filename, code) {
                let pCode = `import binascii
f = open('${filename}', 'w')
`
                // `code` is what comes from the editor. We want to write its
                // line one by one on a file so we split by `\n`
                code.split('\n').forEach((line) => {
                    if (line) {
                        // To avoid the string escaping with weirdly we encode
                        // the line plus the `\n` that we just removed to base64
                        const l = Buffer.from(`${line}\n`).toString('base64')
                        pCode += `f.write(binascii.a2b_base64("${l}"))\n`
                    }
                })
                pCode += 'f.close()\n'
                console.log('_saveFile', pCode)
                this.bus.emit('exec-from-string', pCode)
            }
            loadFile() {
                console.log('load file', this.$.loadFilename.value)
            }
            removeFile() {
                const filename = this.$.removeFilename.value
                if (filename) {
                    this._removeFile(filename)
                    this.$.removeDialog.close()
                }
            }
            _removeFile(filename) {
                let pCode = `from os import remove
remove('${filename}')`
                this.bus.emit('exec-from-string', pCode)
            }
        };
        window.customElements.define(MicroPythonIDE.is, MicroPythonIDE)
    </script>
</dom-module>
