<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="./event-emitter.html">

<dom-module id="mp-ide">
    <template>
        <style>
            :host {
                display: block;
                background: #1e1e1e;
            }
            .header {
                width: 100%;
                height: 60px;
                background: rgba(0, 0, 0, 0.2);
            }
            .editor {
                width: 100%;
                height: calc(100vh - 160px);
            }
            .console {
                width: 100%;
                height: 100px;
                color: white;
                background: black;
                overflow-y: scroll;
            }
            .header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            .header paper-fab {
                display: inline-block;
                margin: 0 5px;
                --paper-fab-background: var(--google-yellow-500);
            }
            #fileToUpload {
                color: white;
            }
            paper-spinner, paper-spinner-lite {
                margin: 5px;
                 --paper-spinner-stroke-width: 6px;
                 --paper-spinner-color: var(--google-yellow-500);
            }
        </style>
        <div class="header">
            <template is="dom-if" if="[[!isConnected]]">
                <paper-fab
                    on-tap="connect"
                    icon="hardware:developer-board"
                    mini>
                </paper-fab>
                <select id="serialPorts">
                    <template is="dom-repeat" items="[[availableDevices]]">
                        <option value="[[item.comName]]">[[item.comName]]</option>
                    </template>
                </select>
            </template>
            <template is="dom-if" if="[[isConnected]]">
                <paper-fab
                    on-tap="disconnect"
                    icon="hardware:developer-board"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="run"
                    icon="av:play-arrow"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="stop"
                    icon="av:stop"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="saveMain"
                    icon="icons:save"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="reset"
                    icon="av:replay"
                    mini>
                </paper-fab>
                <paper-fab
                    on-tap="uploadFile"
                    icon="icons:file-upload"
                    mini>
                </paper-fab>
                <input id="fileToUpload" type="file">
            </template>
            <template is="dom-if" if="[[loading]]">
                <paper-spinner-lite active="[[loading]]"></paper-spinner-lite active="[[loading]]">
            </template>
        </div>
        <juicy-ace-editor
            id="code"
            class="editor"
            mode="ace/mode/python"
            on-change="saveCode"
            value="[[code]]">
        </juicy-ace-editor>
        <div id="console" class="console"><code><pre>[[consoleOut]]</pre></code></div>
    </template>
    <script>
        class MicroPythonIDE extends Polymer.Element {
            static get is() {
              return 'mp-ide';
            }
            static get properties() {
                return {
                    loading: {
                        type: Boolean,
                        value: false
                    },
                    bus: {
                        type: Object,
                        value: null
                    },
                    isConnected: {
                        type: Boolean,
                        value: false
                    },
                    consoleOut: {
                        type: String,
                        value: ''
                    },
                    availablePorts: {
                        type: Array,
                        value: () => []
                    },
                    selectedPort: {
                        type: String,
                        value: null
                    },
                    availableDevices: {
                        type: Array,
                        computed: '_computeAvailableDevices(availablePorts.*)'
                    },
                    code: {
                        type: String,
                        value: null
                    },
                    saveTimeout: {
                        type: Number,
                        value: 0
                    }
                }
            }
            connectedCallback() {
                super.connectedCallback();
                if (window.bus) {
                    this.set('bus', window.bus);
                } else {
                    this.set('bus', new window.MicroPythonIDE.EventEmitter());
                }
                this._bindEvents();
                this.loadAvailableDevices();
                this.loadCode();
            }
            _bindEvents() {
                this.bus.on('device-connected', () => {
                    this.set('loading', false);
                    this.set('isConnected', true);
                });
                this.bus.on('device-disconnected', () => {
                    this.set('loading', false);
                    this.set('isConnected', false);
                });
                this.bus.on('console-out', (message) => {
                    this._consoleOut(message.data);
                });
                this.bus.on('available-ports', (message) => {
                    this.set('availablePorts', message.data);
                });
                this.bus.on('load-code', (message) => {
                    this.set('code', message.data);
                });
            }
            _consoleOut(msg) {
                this.consoleOut = `${this.consoleOut}${msg}`;
                this.consoleOut = `${this.consoleOut}`;
                this.$.console.scrollTop = this.$.console.scrollHeight;
            }
            _computeAvailableDevices(ports) {
                if (!ports || !ports.base) {
                    return
                }
                return ports.base.filter((port) => {
                    return !!port.vendorId;
                });
            }
            _getEditor() {
                return this.$.code || {};
            }
            loadCode() {
                const code = localStorage.getItem('code');
                const editor = this._getEditor();
                this.set('code', code);
            }
            saveCode() {
                const code = this._getEditor().value;
                if (code && this.code != code) {
                    clearTimeout(this.saveTimeout);
                    this.saveTimeout = setTimeout(() => {
                        localStorage.setItem('code', code);
                    }, 2000);
                }
            }
            connect() {
                this.set('loading', true);
                const select = Polymer.dom(this.root).querySelector('#serialPorts');
                if (select && select.value) {
                    this.bus.emit('connect', select.value);
                }
            }
            disconnect() {
                this.bus.emit('disconnect');
            }
            run() {
                const code = this._getEditor().value;
                this.set('code', code);
                this.bus.emit('run', code.replace('\n', '\r'));
            }
            stop() {
                this.bus.emit('stop');
            }
            loadAvailableDevices() {
                this.set('selectedPort', null);
                this.bus.emit('load-available-devices');
            }
            saveFile(filename, data) {
                const delay = (t, v) => {
                    return new Promise(function(resolve) {
                        setTimeout(resolve.bind(null, v), t);
                    });
                };

                const processArrayWithDelay = (array, t, fn) => {
                   var results = [];
                   return array.reduce(function(p, item) {
                       return p.then(function() {
                           return fn(item).then(function(data) {
                               results.push(data);
                               return delay(t, results);
                           });
                       });
                   }, Promise.resolve());
               };

                const processItem = (item) => {
                    this.bus.emit('paste', item);
                    return Promise.resolve();
                };

                this.bus.emit('stop');
                this.bus.emit('enter-paste-mode');

                let items = [`f = open('${filename}', 'wb')\r`];
                data.split('\n').forEach((line) => {
                    items.push(`f.write("""${line.replace('"""', '\"""')}\\n""")\r`);
                });
                items.push(`f.close()\r`);

                processArrayWithDelay(items, 50, processItem).then((result) => {
                    // all done here
                    this.bus.emit('exit-paste-mode');
                }, (reason) => {
                    // rejection happened
                    console.log('error', reason);
                    this.bus.emit('exit-paste-mode');
                });
            }
            reset() {
                this.bus.emit('stop');
                this.bus.emit('soft-reset');
            }
            saveMain() {
                const code = this._getEditor().value;
                this.set('code', code);
                this.saveFile('main.py', code);
            }
            uploadFile() {
                const filePicker = Polymer.dom(this.root).querySelector('#fileToUpload');
                if (filePicker && filePicker.files && filePicker.files[0]) {
                    const file = filePicker.files[0];
                    const fileReader = new FileReader();
                    fileReader.onload = () => {
                        const result = fileReader.result.split(',');
                        if (result && result[1]) {
                            const code = new Buffer(result[1], 'base64').toString('ascii');
                            this.saveFile(file.name, code);
                        }
                    }
                    fileReader.readAsDataURL(file);
                }
            }
        };
        window.customElements.define(MicroPythonIDE.is, MicroPythonIDE);
    </script>
</dom-module>
